<div class="container">
  <ul class="nav filter-bar">
  <li class="nav-item filterselect">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text"for="inputGroupSelect01">Category</label>
      <%= collection_select(:garment, :category, Garment.all.select("DISTINCT(CATEGORY)"), :category, :category, prompt: true, class: "custom-select" ) %>
    </div>
  </div>
  </li>
  <li class="nav-item filterselect">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Price</label>
    <select class="custom-select" id="input-price">
      <option selected>Choose...</option>
      <option value="1">$0 - $50</option>
      <option value="2">$50 - $100</option>
      <option value="3">$100 - $200</option>
      <option value="4">$200+</option>
    </select>
    </div>
  </div>
  </li>
    <% if @garments.count > 10 %>
      <ul class="pagination filterselect">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <% i = 1%>
      <% ((@garments.count)/10.to_f).ceil.times do %>
      <li class="page-item"><a class="page-link" href="#"><%=i%></a></li>
      <% i = i + 1%>
      <% end %>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
      </ul>
    <% end %>

</ul>

</div>

<div class="container index">
  <% @garments.each do |garment| %>
    <div class="card garmentcard" style="width: 25%">
    <img class="card-img-top garmentimage" style="height: 0px; padding: 50%; width: 100%; background-image: url('<%= cl_image_path garment.photos[0].key, height: 300, width: 400, crop: :fill %>')">
      <div class="card-body garmenttext">
      <div>
        <p style="font-size: 14px; line-height: 18px; align-items: center; display: flex; width: 100%"> <%= "#{garment.category} - Size: #{garment.size} - Color: #{garment.colour}" %> </p>
      </div>
      <div>
        <h5 class='card-title' style="font-size: 16px; line-height: 20px"> <%= link_to garment.name, garment_path(garment) %> </h5>
      </div>  
      <div>
        <p class='card-text' style="font-size: 14px; line-height: 16px"> <%= garment.description %> </p>
      </div>
      <div>
        
      </div>
      <div>
        <p> <%= "$#{garment.price}" %> </p>
      </div>
      </div>
    </div>  
  <% end %>

</div>

