<div class="container indexcontainer">
  <ul class="nav filter-bar">
    <div>
      <% if @garments.count > 10 %>
      <ul class="pagination filterselect">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <% i = 1%>
      <% ((@garments.count)/10.to_f).ceil.times do %>
      <li class="page-item"><a class="page-link" href="#"><%=i%></a></li>
      <% i = i + 1%>
      <% end %>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
      </ul>
    <% end %>
    </div>
    <div style="display: flex">
      <li class="nav-item filterselect">
      <div class="input-group mb-3">
        <%= form_tag garments_path, method: :get do%>
        <div class="input-group-prepend" style="display: flex">
            <label class="input-group-text"for="inputGroupSelect01">Category</label>
            <%= collection_select(:garment, :category, @garments.select("DISTINCT(CATEGORY)").order(:category), :category, :category, @categoryselection, html_options = {class: "custom-select", id: "GarmentSelector", onchange: "this.form.submit()"}) %>
            <label class="input-group-text"for="inputGroupSelect01">Size</label>
            <%= collection_select(:garment, :size, @garments.select("DISTINCT(SIZE)").order(:size), :size, :size, @sizeselection, html_options = {class: "custom-select", id: "GarmentSelector", onchange: "this.form.submit()"}) %>
            <label class="input-group-text"for="inputGroupSelect01">Colour</label>
            <%= collection_select(:garment, :colour, @garments.select("DISTINCT(COLOUR)").order(:colour), :colour, :colour, @colourselection, html_options = {class: "custom-select", id: "ColourSelector", onchange: "this.form.submit()"}) %>
            <label class="input-group-text" for="inputGroupSelect01">Price</label>
            <%= select_tag(:pricequery, options_for_select(@priceoptions, @priceselection), html_options = {class: "form-control mr-1 custom-select", onchange: "this.form.submit()"}) %>
        </div>
        <% end %>
      </div>
      </li>
      <li class= "filterselect">
        <%= link_to "Clear Filters", garments_path, class: "btn btn-outline-dark selectbutton" %>
      </li>
    </div>
  </ul>

</div>

<div class="container indexcontainer index">
  <% @garments.each do |garment| %>
    <div class="garmentcard">
      <div class="card roundedcard" onclick="window.location.href='<%= garment_path(garment)%>'">
        <div class="card-img-top garmentimageindex" style="height: 0px; padding: 50% 0%; width: 100%; background-image: url('<%= cl_image_path garment.photos[0].key, crop: :fill %>')"></div>
        <div class="card-body garmenttext">
          <div class="split" style="display:flex">
            <div style="width: 60%" class = "summarybox">
              <h5 class='card-title detailstext' style="font-size: 20px; line-height: 28px; margin-bottom: 8px; border-bottom: 1px solid lightgrey"> <%= garment.name%> </h5>
              <br>
              <p class='card-text detailstext' style="overflow: hidden; height: 64px; font-size: 14px; line-height: 16px"> <%= garment.description %> </p>
            </div>
            <div style="width:40%" class="detailsbox">
              <p class="detailstext" style="color: red; border-radius: 8px; border-width: 1px; transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s; border-color: rgb(34, 34, 34) !important; background: rgb(255, 255, 255) !important; color: rgb(34, 34, 34) !important; border-style: solid; padding: 8px 8px; margin-bottom: 8px; font-size: 20px; line-height: 24px; background-color: white; border: .5px solid black"> <%= "$#{garment.price} per day" %> </p>
              <div style="display: flex; flex-direction: column; justify-content: space-evenly">
              <p class="detailstext" > <%= "#{garment.category}" %> </p>
              <p class="detailstext"> <%= "Size: #{garment.size}" %> </p>
              <p class="detailstext"> <%= "Color: #{garment.colour}" %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>


