<%= render "./shared/bookings-menu-buttons.html.erb" %>


<h1 class="header">ALL BOOKINGS</h1>
<div class="container indexcontainer index">
  <% @bookings.each do |booking| %>
    <div class="garmentcard">
      <div class="card roundedcard">
        <img class="card-img-top garmentimageindex" style="height: 0px; padding: 50%; width: 100%; background-image: url('<%= cl_image_path booking.garment.photos[0].key, height: 300, width: 400, crop: :fill %>')">
        <div class="card-body garmenttext">
          <div class="split" style="display:flex">
            <div style="width: 100%" class = "summarybox">
              <h5 class='card-title detailstext' style="font-size: 24px; line-height: 28px; margin-bottom: 8px; border-bottom: 1px solid lightgrey"> <%= booking.garment.name%> </h5>
              <br>
              <p class="card-text detailstext" > Start Date:  <%= "#{booking.start_date.strftime("%e %m %Y")}" %> </p>
              <p class="card-text detailstext"> End Date: <%= "Size: #{booking.end_date.strftime("%e %m %Y")}" %> </p>
              <p class='card-text detailstext'> Booking Status: <%= booking.status.capitalize %> </p>
              <p class="card-text detailstext"> <%= "Total Price: $#{booking.total_price}" %> </p>
              <br>
              <div class="buttons mb-3">
                <%= link_to "Confirm", confirm_booking_path(booking), method: :patch, class: "btn btn-outline-dark m-1 light-font" %>
                <%= link_to "Declined", decline_booking_path(booking), method: :patch, class: "btn btn-outline-dark m-1 light-font" %>
                <%= link_to "Cancel", cancel_booking_path(booking), method: :patch, class: "btn btn-outline-dark m-1 light-font" %>
              </div>
              <a class='btn btn-dark' style="font-family: 'Barlow Condensed'; width: 100%" href="<%= booking_path(booking)%>" style="width: 100%"> View Details </a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
