<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MAKE A BOOKING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br><br>
      <div class="container w-50 mb-3">
        <%= simple_form_for [@garment, @booking] do |f| %>
          <div class="dates" data-unavailable="<%= @garment.unavailable_dates.to_json %>">
            <%= f.input :start_date, as: :string, label: 'Start Date' %>
            <%= f.input :end_date, as: :string, label: 'End Date' %>
          </div>
          <div class="total-price-display">
            Price per day: $<span class="garment-price"><%= @garment.price %></span>
            <br>
            <strong>Total price: $<span class="total-price"></span></strong>
          </div>
          <br><br>
          <%= f.button :submit, class: "btn-dark mb-3", style: "width: 100%" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
