<div class="container">
  <div class="col-container">
  <div style="margin-top: 24px" >
    <div class="container index col">
      <%= link_to "<< My orders", bookings_path %>
      <br>
      <div class="showcard">
        <div style="width: 60%; padding: 0px; padding-right: 8px; margin-bottom: 24px">
          <img class="garmentimage" style="background-image: url('<%= cl_image_path @booking.garment.photos[0].key, crop: :fill %>')">
        </div>
        <div class="col boxshade">
          <div class="detailsboxshow" style="height: 100%">
            <h3>Booking status</h3>
            <p class="badge badge-warning" style="padding: 5px"><%= @booking.status.upcase %></p>
            <h3>Product description</h3>
            <p><%= @booking.garment.description%></p>
            <h3>Booking start date</h3>
            <p><%= @booking.start_date.strftime("%e %m %Y") %></p>
            <h3>Booking end date</h3>
            <p><%= @booking.end_date.strftime("%e %m %Y") %></p>
            <h3>Total price</h3>
            <p>$<%= @booking.total_price %></p>
            <%= link_to "Edit booking", edit_booking_path(@booking), class: "btn btn-outline-dark light-font", style: "width: 100%" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>



