
<div class="container">
<%= link_to "My Orders", bookings_path%>
<%= link_to "My Listings",  all_bookings_path %>
  <h2><%= @booking.garment.name %></h2>
</div>

  <div class="container">
    <div class="row">
      <div class="col">
        <%= cl_image_tag @booking.garment.photos[0].key, height: 500, width: 600%>
      </div>
      <div class="col">
        <h3>Booking Status</h3>
           <%= @booking.status.capitalize %><br>
           <h3>Description</h3>Description: <%= @booking.garment.description%><br>
           <h3>Start Date:</h3>
           <%= @booking.start_date.strftime("%e %m %Y") %><br>
          <h3>End Date</h3>
           <%= @booking.end_date.strftime("%e %m %Y") %><br>
          <h3>Total Price ($)</h3>
           <%= @booking.total_price %><br>
             <%= link_to "View Details", garment_path(@booking.garment), class: "btn btn-outline-success" %>
      </div>

    </div>

      <h3>Reviews</h3>
  <% if @booking.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <ul class="list-group">
      <% @booking.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  <% end %>

    <%= render "reviews/new", booking: @booking, review: @review %>

  </div>

