<div class="background-home flex-box">
  <div>
    <h1 class="home-header">BOOK <br>THE<br> LOOK</h1>

  </div>
  <br>

    <div class="sign-in-box">

<h2>FORGOT YOUR PASSWORD?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "RESET PASSWORD", class: "btn btn-dark" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
