<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "My Garments", all_garments_path, class: current_page?(all_garments_path) ? "btn btn-dark bold-font" : "btn btn-secondary bold-font" %>
  <%= link_to "All Bookings", all_bookings_path, class: current_page?(all_bookings_path) ? "btn btn-dark bold-font" : "btn btn-secondary bold-font" %>
  <%= link_to "Pending Bookings", pending_bookings_path, class: current_page?(pending_bookings_path) ? "btn btn-dark bold-font" : "btn btn-secondary bold-font" %>
  <%= link_to "Confirmed Bookings", confirmed_bookings_path, class: current_page?(confirmed_bookings_path) ? "btn btn-dark bold-font" : "btn btn-secondary bold-font" %>
  <%= link_to "Declined Bookings", declined_bookings_path, class: current_page?(declined_bookings_path) ? "btn btn-dark bold-font" : "btn btn-secondary bold-font" %>
  <%= link_to "Cancelled Bookings", cancelled_bookings_path, class: current_page?(cancelled_bookings_path) ? "btn btn-dark bold-font" : "btn btn-secondary bold-font" %>
</div>





